streamlit>=1.37.0
streamlit-gsheets-connection
extra-streamlit-components>=0.1.71
geopandas>=1.0.0
pandas>=2.0.0
requests>=2.31.0
xmltodict>=0.13.0
PyJWT>=2.5.0
python-dotenv>=1.0.0
shapely>=2.0.0
folium>=0.14.0
streamlit-folium>=0.15.0
python-docx>=1.0.0
reportlab>=4.0.0
Pillow>=10.0.0
sqlalchemy>=1.4.0
psycopg2-binary>=2.9.0
geoserver-restconfig>=2.0.0
